/* Styles for the entire page, also includes "*" selectors and @imports */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600');
@import url('https://fonts.googleapis.com/css?family=Be+Vietnam:300,400,500,600&display=swap');

/* Align text styles */
.sd-align-right {
    float: right;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}
body.sd-dark {
    background: #333;
}
a {
    color: #2c67e3;
}
*:not(code), *:not(code *) {
    font-family: 'Roboto';
}
*::-webkit-scrollbar {
    background: #fff;
    width: 5px;
    border-radius: 5px;
}
*::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
body.sd-dark-theme *::-webkit-scrollbar {
    background: rgba(255, 255, 255, 0.5);
}
body.sd-dark-theme *::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
}
/* Begin Navigation Bar Styles */

.sd-nav {
    height: 75px;
    max-height: 75px;
    background: #fff;
    display: block;
    z-index: 10000;
    width: 100vw;
    position: fixed;
    width: calc(100% - 32px);
    padding-left: 16px;
    padding-right: 16px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease;
}
.sd-nav .sd-nav-co img {
    height: 100%;
    width: 150px;
}
.sd-nav a.sd-nav-co {
    font-family: 'Be Vietnam', sans-serif;
    font-size: 1.5vw;
    color: #333;
    text-decoration: none;
    line-height: 75px;
    margin-right: 4vw;
    vertical-align: top;
    transition: all 0.3s ease;
}
.sd-nav button:not(.sd-show-side-nav) {
    height: 100%;
    background: transparent;
    color: #555;
    border: none;
    min-width: 7vw;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: none;
}
.sd-nav button:hover {
    background: rgba(0, 0, 0, 0.05);
}
.sd-nav button:active {
    background: rgba(0, 0, 0, 0.1);
}
.sd-nav button.sd-show-options {
    height: 100%;
    width: 30%;
    border: none;
    outline: none;
    opacity: 1;
    float: right;
    font-family: 'Roboto';
    display: none;
    background: transparent;
    padding: none;
}
.sd-nav button.sd-show-options i {
    transition: all 0.3s ease;
}
/* Customize navbar for mobile or small devices */
@media screen and (max-width: 720px) {
    .sd-nav {
        overflow: hidden;
        width: 100%;
        padding: 0px;
    }
    .sd-nav a.sd-nav-co {
        width: 60%;
        padding: none;
        display: inline-block;
        font-size: 5vw;
        text-align: center;
        background: transparent;
    }
    .sd-nav button.sd-show-options {
        display: inline-block;
    }
    .sd-page-header {
        font-size: 7vw!important;
    }
    .wrapper[hasAside] aside {
        width: 40%!important;
    }
    .wrapper[hasAside=true] article {
        width: 54%!important;
    }
    .sd-show-side-nav {
        display: none!important;
    }
}
/* Search Bar */

.sd-nav span.sd-search-wrapper {
    height: 100%;
    float: right;
    line-height: 10vh;
}
.sd-nav span.sd-search-wrapper input.sd-nav-search {
    height: 5vh;
    width: 4vw;
    padding-left: 16px;
    /* text-shadow: none; */
    padding-right: 16px;
    color: #333;
    border: none;
    outline: none;
    border-radius: 10px;
    font-family: 'Roboto';
    transition: all 0.3s ease;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.4);
}
.sd-nav span.sd-search-wrapper input.sd-nav-search:focus {
    border: 1px solid #20add844;
    width: 15vw;
}
.sd-nav.transparent span.sd-search-wrapper input.sd-nav-search {
    background: rgba(255, 255, 255, 0.4);
    color: #fff;
    border: none;
}
.sd-nav.transparent span.sd-search-wrapper input.sd-nav-search::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.8);

}
.sd-nav.transparent span.sd-search-wrapper input.sd-nav-search:focus {
    box-shadow: none;
    border: none;
    width: 15vw;
}
.sd-nav span.sd-search-wrapper[hasButton=true] input.sd-nav-search {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.sd-nav span.sd-search-wrapper button.sd-nav-search-button {
    height: calc(5vh + 4px);
    background: rgba(255, 255, 255, 0.4);
    min-width: 1vw!important;
    width: 2vw;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-right: 4px;
    padding-left: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-left: none;
}
.sd-nav.transparent span.sd-search-wrapper button.sd-nav-search-button {
    border: none;
    height: calc(5vh + 2px);
}
.sd-nav span.sd-search-wrapper button.sd-nav-search-button:hover {
    background: rgba(255, 255, 255, 0.5);
}
/* Dark NavBar Styles */
/* Search */
body.sd-dark-theme .sd-nav:not(.transparent) span.sd-search-wrapper input.sd-nav-search {
    color: #fff;
}
body.sd-dark-theme .sd-nav:not(.transparent) span.sd-search-wrapper input.sd-nav-search::-webkit-input-placeholder {
    color: #ddd;
}
body.sd-dark-theme .sd-nav {
    background: #333;
    color: #fff;
}
body.sd-dark-theme .sd-nav a.sd-nav-co {
    color: #fff;
}
body.sd-dark-theme .sd-nav button {
    color: #ddd;
}
body.sd-dark-theme .sd-nav button:hover, .sd-nav.transparent button:hover {
    background: rgba(255, 255, 255, 0.05);
}
body.sd-dark-theme .sd-nav button:active, .sd-nav.transparent button:active {
    background: rgba(255, 255, 255, 0.1);
}
.sd-nav.transparent {
    background: transparent!important;
    box-shadow: none;
}
.sd-nav.transparent a.sd-nav-co {
    color: #fff;
}
.sd-nav.transparent button {
    color: #fefefe;
}
.sd-nav.transparent * {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.sd-nav button:disabled {
    box-shadow: inset 0px -2px 0px #555;
}
body.sd-dark-theme .sd-nav button:disabled, .sd-nav.transparent button:disabled {
    box-shadow: inset 0px -2px 0px #fff;
}
/* Header (page and section) */
.sd-page-header {
    height: 100vh;
    padding-left: 5vw;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    line-height: 100vh;
    font-size: 3vw;
    background: #2c67e3;
    transition: all 0.0s linear;
    -webkit-user-select: none;
    background-size: cover;
    font-family: 'Be Vietnam', sans-serif;
}

/* Article and Aside elements */
/* Light Styles (Default) */
.wrapper {
    background: #fff;
    padding: 16px;
    overflow: auto;
}
.wrapper article {
    color: #555;
    font-family: 'Roboto', sans-serif;
}
.wrapper[hasAside=true] article {
    width: 75%;
    float: left;
    color: #555;
}
.wrapper[hasAside=true] aside {
    width: 20%;
    color: #555;
    float: right;
    font-family: 'Roboto', sans-serif;
}
.wrapper aside a {
    word-wrap: break-word;
}
.wrapper article h2 {
    color: #333;
    font-family: "Be Vietnam", sans-serif;
}
.wrapper aside h3 {
    font-family: 'Be Vietnam', sans-serif;
}
body.sd-dark-theme .wrapper {
    background: #333;
}
body.sd-dark-theme .wrapper article {
    color: #ddd;
}
body.sd-dark-theme .wrapper article h2 {
    color: #fff;
}
body.sd-dark-theme .wrapper aside {
    color: #bbb;
}
body.sd-dark-theme .wrapper aside h3 {
    color: #eee;
}
body.sd-dark-theme .wrapper a {
    color: #42cffa;
}
/* Cards */
div.sd-card {
    min-height: 100px;
    min-width: 100px;
    width: calc(50vh - 16px);
    height: calc(50vh - 16px);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    /* padding: 16px; */
    background: #fff;
    color: #555;
    position: relative;
    overflow: hidden;
}
@media screen and (max-width: 720px) {
    div.sd-card {
        height: calc(75vw - 16px);
        width: calc(75vw - 16px);
    }
}
body.sd-dark-theme div.sd-card {
    background: #333;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: #ddd;
}
div.sd-card div.sd-card-header {
    background: #eee;
    border-radius: 5px;
    padding: 16px;
    font-family: 'Be Vietnam';
    font-size: 1.4em;
    color: #555;
}
body.sd-dark-theme div.sd-card-header {
    background: #555;
    color: #fff;
}
div.sd-card p {
    padding-left: 8px;
    padding-right: 8px;
    font-family: 'Roboto';
    text-indent: 8px;
    overflow: auto;
}
div.sd-card div.sd-card-footer {
    background: #eee;
    padding: 8px;
    position: absolute;
    bottom: 0;
    border-radius: 5px;
    width: calc(100% - 16px);
}
body.sd-dark-theme div.sd-card div.sd-card-footer {
    background: #555;
}
/* Page Footer */
footer.sd-footer {
    background: #eee;
    padding: 8px;
}
body.sd-dark-theme footer.sd-footer {
    color: #eee;
    background: #555;
}
/* This is also part of the navigation styles */
.sd-nav.js-nav-open {
    background: #fff!important;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.sd-nav.js-nav-open button, .sd-nav.js-nav-open a {
    color: #333!important;
    text-shadow: none!important;
}
.sd-nav.js-nav-open button:disabled {
    box-shadow: 0px -2px 0px #333 inset;
}
/* Side Nav Bar */
.sd-side-nav {
    height: 100vh;
    padding-top: 16px;
    position: fixed;
    width: 25vw;
    background: #fff;
    top: 0;
    left: -100vw;
    z-index: 100000;
    transition: all 0.3s ease;
}
.sd-side-nav a.sd-co {
    height: 8vh;
    width: 25vw;
    color: #333;
    text-decoration: none;
    font-family: 'Be Vietnam';
    text-align: center;
    display: inline-block;
    line-height: 8vh;
    font-size: 1.5vw;
}
.sd-side-nav button {
    height: 8vh;
    width: 25vw;
    background: transparent;
    color: #333;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
.sd-side-nav button:hover {
    background: rgba(0, 0, 0, 0.05);
}
.sd-side-nav button:active {
    background: rgba(0, 0, 0, 0.1);
}
.sd-show-side-nav {
    background: transparent;
    color: #333;
    height: 75px;
    width: 75px;
    vertical-align: top;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 16px;
    display: inline-block;
}
/* Side Nav Mobile Styles */
@media screen and (max-width: 720px) {
    .sd-side-nav a.sd-co {
        display: none;
    }
    .sd-side-nav button {
        width: 100vw;
        font-size: 4.5vw;
    }
}